body {
  background-color: #7878f0;
}

#text {
  background-color: rgb(125, 7, 110);
  color: #ffffff;
  font-family: fantasy;
  font-size: 3vw; /* Use viewport width for responsive font size */
  padding: 2vw;
}

#game {
  max-width: 80vw; /* Use viewport width for max width */
  max-height: 60vh; /* Use viewport height for max height */
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
  box-shadow: 5px 10px 50px #0a0a23;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  font-family: fantasy;
  font-size: 2.5vw; /* Responsive font size */
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  padding: 5px;
}

.character {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.char-inv {
  max-width: 80vw; /* Responsive width */
  display: flex;
  justify-content: center;
}

.character-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.character-image {
  position: relative;
}

.character-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.inv-box {
  position: absolute;
  border-radius: 5px;
  box-shadow: #000;
  top: 0;
  left: 0;
  width: 50%; /* Relative size */
  height: 100%; /* Relative size */
  background-color: rgba(255, 255, 255, 0.156);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 3vw; /* Responsive font size */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  #text, button, .inv-box {
    font-size: 5vw; /* Larger font size for smaller screens */
  }

  #game {
    max-width: 90vw;
    max-height: 70vh;
  }
}



/* log In Styles */
#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: auto;
}
.prompt-container {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  
}


.button-log-in {
  margin:5px;
  margin-top: 20px;
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
}
.log-input {
  height: 25px;
  border-radius: 5px;
}

.login-txt{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* autenticate */
.Autenticate {
  display: fl;
}